<template name="home">
    {{#if currentUser}}
    <div class="container">
        <div class="section">
            <div class="row center">
                <h2>Start new game</h2>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <h4>Random User</h4>
                    <a class="waves-effect waves-light btn-large rand-user"><i class="material-icons right">shuffle</i>Random</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h3>Please create an acount and log in to play</h3>
            </div>
        </div>
    </div>
    {{/if}}
</template>